{% extends "layout.html" %}

{% block title %}
    Add/Change Schedules
{% endblock %}

{% block main %}
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 md:gap-20">
        <form class="space-y-1">
            <h1 class="rounded bg-default-2 font-semibold text-center text-xl text-yellow-2">Monday</h1>
            <input type="text" placeholder="Exercise Name" class="border-b outline-none bg-transparent caret-yellow-2 placeholder-white font-light text-white">
            <button type="submit" class="rounded px-2 bg-yellow-1">+</button>
        </form>
        <form class="space-y-1">
            <h1 class="rounded bg-default-2 font-semibold text-center text-xl text-yellow-2">Tuesday</h1>
            <input type="text" placeholder="Exercise Name" class="border-b outline-none bg-transparent caret-yellow-2 placeholder-white font-light text-white">
            <button type="submit" class="rounded px-2 bg-yellow-1">+</button>
        </form>
        <form class="space-y-1">
            <h1 class="rounded bg-default-2 font-semibold text-center text-xl text-yellow-2">Wednesday</h1>
            <input type="text" placeholder="Exercise Name" class="border-b outline-none bg-transparent caret-yellow-2 placeholder-white font-light text-white">
            <button type="submit" class="rounded px-2 bg-yellow-1">+</button>
        </form>
        <form class="space-y-1">
            <h1 class="rounded bg-default-2 font-semibold text-center text-xl text-yellow-2">Thursday</h1>
            <input type="text" placeholder="Exercise Name" class="border-b outline-none bg-transparent caret-yellow-2 placeholder-white font-light text-white">
            <button type="submit" class="rounded px-2 bg-yellow-1">+</button>
        </form>
        <form class="space-y-1">
            <h1 class="rounded bg-default-2 font-semibold text-center text-xl text-yellow-2">Friday</h1>
            <input type="text" placeholder="Exercise Name" class="border-b outline-none bg-transparent caret-yellow-2 placeholder-white font-light text-white">
            <button type="submit" class="rounded px-2 bg-yellow-1">+</button>
        </form>
        <form class="space-y-1">
            <h1 class="rounded bg-default-2 font-semibold text-center text-xl text-yellow-2">Saturday</h1>
            <input type="text" placeholder="Exercise Name" class="border-b outline-none bg-transparent caret-yellow-2 placeholder-white font-light text-white">
            <button type="submit" class="rounded px-2 bg-yellow-1">+</button>
        </form>
        <form class="space-y-1 lg:col-start-2">
            <h1 class="rounded bg-default-2 font-semibold text-center text-xl text-yellow-2">Sunday</h1>
            <input type="text" placeholder="Exercise Name" class="border-b outline-none bg-transparent caret-yellow-2 placeholder-white font-light text-white">
            <button type="submit" class="rounded px-2 bg-yellow-1">+</button>
        </form>
    </div>
{% endblock %}