{% extends "layout.html" %}

{% block title %}
    Add/Change Schedules
{% endblock %}

{% block main %}
    <div class="grid grid-cols-3 gap-20">
        <form class="flex flex-col items-center space-y-1">
            <h1 class="w-full rounded bg-default-2 font-semibold text-center text-xl text-yellow-2">Monday</h1>
            <div>
                <input type="text" placeholder="Exercise Name" class="border-b outline-none bg-transparent caret-yellow-2 placeholder-white font-light text-white">
                <button type="submit" class="rounded px-2 bg-yellow-1">+</button>
            </div>
        </form>
        <form class="flex flex-col items-center space-y-1">
            <h1 class="w-full rounded bg-default-2 font-semibold text-center text-xl text-yellow-2">Tuesday</h1>
            <div>
                <input type="text" placeholder="Exercise Name" class="border-b outline-none bg-transparent caret-yellow-2 placeholder-white font-light text-white">
                <button type="submit" class="rounded px-2 bg-yellow-1">+</button>
            </div>
        </form>
        <form class="flex flex-col items-center space-y-1">
            <h1 class="w-full rounded bg-default-2 font-semibold text-center text-xl text-yellow-2">Wednesday</h1>
            <div>
                <input type="text" placeholder="Exercise Name" class="border-b outline-none bg-transparent caret-yellow-2 placeholder-white font-light text-white">
                <button type="submit" class="rounded px-2 bg-yellow-1">+</button>
            </div>
        </form>
        <form class="flex flex-col items-center space-y-1">
            <h1 class="w-full rounded bg-default-2 font-semibold text-center text-xl text-yellow-2">Thursday</h1>
            <div>
                <input type="text" placeholder="Exercise Name" class="border-b outline-none bg-transparent caret-yellow-2 placeholder-white font-light text-white">
                <button type="submit" class="rounded px-2 bg-yellow-1">+</button>
            </div>
        </form>
        <form class="flex flex-col items-center space-y-1">
            <h1 class="w-full rounded bg-default-2 font-semibold text-center text-xl text-yellow-2">Friday</h1>
            <div>
                <input type="text" placeholder="Exercise Name" class="border-b outline-none bg-transparent caret-yellow-2 placeholder-white font-light text-white">
                <button type="submit" class="rounded px-2 bg-yellow-1">+</button>
            </div>
        </form>
        <form class="flex flex-col items-center space-y-1">
            <h1 class="w-full rounded bg-default-2 font-semibold text-center text-xl text-yellow-2">Saturday</h1>
            <div>
                <input type="text" placeholder="Exercise Name" class="border-b outline-none bg-transparent caret-yellow-2 placeholder-white font-light text-white">
                <button type="submit" class="rounded px-2 bg-yellow-1">+</button>
            </div>
        </form>
        <form class="col-start-2 flex flex-col items-center space-y-1">
            <h1 class="w-full rounded bg-default-2 font-semibold text-center text-xl text-yellow-2">Sunday</h1>
            <div>
                <input type="text" placeholder="Exercise Name" class="border-b outline-none bg-transparent caret-yellow-2 placeholder-white font-light text-white">
                <button type="submit" class="rounded px-2 bg-yellow-1">+</button>
            </div>
        </form>
    </div>
{% endblock %}