{% extends "layout.html" %}

{% block title %}
    Progress
{% endblock %}

{% block main %}
    <div class="flex flex-col w-full h-full items-center space-y-5">
        <h1 id="exercise-title" class="font-bold text-center text-4xl text-yellow-2"></h1>
        <div class="w-1/2">
            <canvas id="myChart"></canvas>
        </div>
        <div class="flex flex-col items-center">
            <button class="rounded p-2 bg-yellow-1 shadow-inner" onclick="toggleOptions()">Select Exercises</button>
            <div id="options" class="hidden">
                <ul class="h-24 overflow-scroll overflow-x-hidden p-2 rounded-md bg-white font-light text-center text-black">
                    {% for exercise in exercises %}
                        <li name="exercise" class="p-2 rounded-md hover:bg-default-2 hover:text-white duration-300 cursor-pointer">{{ exercise }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/static/js/chart.js"></script>
{% endblock %}