<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script defer src="/static/js/layout.js"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <script>
            tailwind.config = {
              theme: {
                extend: {
                  colors: {
                    default: {
                        1: '#1D1D1F',
                        2: '#606060',
                        3: '#262629'
                    },
                    yellow: {
                        1: '#F7C873',
                        2: '#FAEBCD'
                    }
                  }
                }
              }
            }
          </script>
        <link href="/static/css/styles.css" rel="stylesheet">
        <link rel="icon" href="/static/images/favicon.png" type="image/png">
        <title>Epla | {% block title %}{% endblock %}</title>
    </head>
    <body class="flex flex-col justify-between min-h-screen font-medium bg-default-1 font-default">
        <div class="flex items-center p-5 border-b border-yellow-2">
            <a href="/" class="z-10">
                <img src="/static/images/EPLA.svg">
            </a>
            <nav class="absolute right-0 w-full">
                {% if session["user_id"] %}
                    <ul class="relative flex items-center justify-center space-x-5">
                        <li><a href="/exercises" class="p-2 text-white duration-300 rounded hover:bg-yellow-1 hover:text-black">Exercises</a></li>
                        <details name="schedules" id="schedules" class="space-y-1">
                            <summary class="p-2 text-white duration-300 rounded cursor-pointer hover:bg-yellow-1 hover:text-black">Schedules</summary>
                            <ul class="absolute p-2 space-y-2 font-light text-center text-black -translate-x-16 bg-white rounded-md">
                                <li><a href="/schedules" class="block p-2 duration-300 rounded-md hover:bg-default-2 hover:text-white">Add/Change Schedules</a></li>
                                <li><a href="/track-my-workouts" class="block p-2 duration-300 rounded-md hover:bg-default-2 hover:text-white">Track My Workouts</a></li>
                            </ul> 
                        </details>
                        <li><a href="/settings" class="p-2 text-white duration-300 rounded hover:bg-yellow-1 hover:text-black">Settings</a></li>
                    </ul>
                {% else %}
                    <ul class="flex items-center justify-end mr-5 space-x-10">
                        <li><a href="/login" class="text-white">Login</a></li>
                        <li class="duration-300 hover:scale-105"><a href="/register" class="px-5 duration-300 rounded-md shadow-md bg-yellow-1 hover:bg-yellow-2">Register</a></li>
                    </ul>
                {% endif %}
            </nav>
        </div>
        {% if get_flashed_messages() %}
            <header class="absolute flex items-center justify-center w-full p-5 font-semibold top-20 bg-yellow-2">
                <p>{{ get_flashed_messages() | join(" ") }}</p>
                <button name="header-button" type="button" class="absolute p-1 duration-300 bg-black rounded-md right-5 hover:bg-default-1 hover:scale-105">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" class="w-4 h-4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>                      
                </button>
            </header>
            <script src="/static/js/closeHeader.js"></script>
        {% endif %}
        <main class="flex justify-center my-4">
            {% block main %}{% endblock %}
        </main> 
        <footer class="flex justify-center mb-5">
            <p class="text-xs font-light text-white">© 2023 All Rights Reserved. EPLA</p>
        </footer>
    </body>
</html>