<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <script>
            tailwind.config = {
              theme: {
                extend: {
                  colors: {
                    default: {
                        1: '#1D1D1F',
                        2: '#606060'
                    },
                    yellow: {
                        1: '#F7C873',
                        2: '#FAEBCD'
                    }
                  }
                }
              }
            }
          </script>
        <link href="/static/css/styles.css" rel="stylesheet">
        <link rel="icon" href="/static/images/favicon.png" type="image/png">
        <title>Epla | {% block title %}{% endblock %}</title>
    </head>
    <body class="flex flex-col min-h-screen justify-between bg-default-1 font-default font-medium">
        <div class="flex items-center border-b border-yellow-2 p-5">
            <a href="/" class="z-10">
                <img src="/static/images/EPLA.svg">
            </a>
            <nav class="absolute w-full right-0">
                {% if session["user_id"] %}
                    <ul class="flex items-center justify-center">
                        <li class="mx-5 text-white"><a href="/exercises" class="delay-75 duration-75 hover:border-b-2 rounded-sm">Exercises</a></li>
                        <li class="mx-5 text-white"><a href="/schedules" class="delay-75 duration-75 hover:border-b-2 rounded-sm">Schedules</a></li>
                        <li class="mx-5 text-white"><a href="/settings" class="delay-75 duration-75 hover:border-b-2 rounded-sm">Settings</a></li>
                    </ul>
                {% else %}
                    <ul class="flex items-center justify-end">
                        <li class="mx-5 text-white"><a href="/login" class="delay-75 duration-75 hover:border-b-2 rounded-sm">Login</a></li>
                        <li class="mx-5 px-5 bg-yellow-1 rounded-md shadow-md hover:bg-yellow-2 transition-colors"><a href="/register">Register</a></li>
                    </ul>
                {% endif %}
            </nav>
        </div>
        {% if get_flashed_messages() %}
            <header class="absolute top-20 w-full p-5 flex justify-center items-center bg-yellow-2 font-semibold">
                <p>{{ get_flashed_messages() | join(" ") }}</p>
                <button name="header-button" type="button" class="absolute right-5 px-2 rounded-md bg-black font-light text-white hover:bg-default-1 hover:scale-105 duration-300 transition-all">x</button>
            </header>
            <script src="/static/js/closeHeader.js"></script>
        {% endif %}
        <main class="flex justify-center my-8">
            {% block main %}{% endblock %}
        </main> 
        <footer class="flex justify-center mb-5">
            <p class="font-light text-xs text-white">© 2023 All Rights Reserved. EPLA</p>
        </footer>
    </body>
</html>