{% extends "layout.html" %}

{% block title %}
    Track My Workouts
{% endblock %}

{% block main %}
    <div class="flex space-x-10">
        <div class="flex flex-col w-fit h-fit p-5 space-y-5 items-center rounded-lg bg-default-3 text-white">
            <div class="flex w-full justify-between items-center">
                <svg name="prevNextIcon" id="prev" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="w-6 h-6 p-1 rounded-full bg-yellow-1 text-black shadow-inner hover:bg-yellow-2 hover:scale-105 duration-300 transition-all cursor-pointer">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
                </svg>
                <h1 id="current-calendar" class="font-bold text-xl text-yellow-2">August 2023</h1>
                <svg name="prevNextIcon" id="next" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="w-6 h-6 p-1 rounded-full bg-yellow-1 text-black shadow-inner hover:bg-yellow-2 hover:scale-105 duration-300 transition-all cursor-pointer">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                </svg>                            
            </div>
            <div class="space-y-5">
                <ul class="grid grid-cols-7 gap-3 font-semibold text-center text-white">
                    <li>Su</li>
                    <li>Mo</li>
                    <li>Tu</li>
                    <li>We</li>
                    <li>Th</li>
                    <li>Fr</li>
                    <li>Sa</li>
                </ul>
                <ul id="days" class="grid grid-cols-7 gap-3 font-light text-center"></ul>
            </div>
        </div>
        <div class="grid grid-cols-2 h-fit gap-10 ">
            <form class="flex flex-col h-fit items-center space-y-2">
                <h1 class="w-full px-2 rounded bg-yellow-2 font-semibold text-center text-lg text-black">Dumbbell Bench Press</h1>
                <div class="flex w-full justify-between space-x-1">
                    <input type="number" required step="2.5" min="2.5" placeholder="Weight" class="w-20 rounded bg-default-3 font-normal text-center text-white">
                    <input type="number" required min="1" placeholder="Reps" class="w-14 rounded bg-default-3 font-normal text-center text-white">
                    <input type="number" required min="1" placeholder="Sets" class="w-14 rounded bg-default-3 font-normal text-center text-white">
                    <button type="submit" class="rounded px-2 bg-yellow-1 shadow-inner">Save</button>
                </div>
            </form>
            <form class="flex flex-col h-fit items-center space-y-2">
                <h1 class="w-full px-2 rounded bg-yellow-2 font-semibold text-center text-lg text-black">Incline Dumbbell Bench Press</h1>
                <div class="flex w-full justify-between space-x-1">
                    <input type="number" required step="2.5" min="2.5" placeholder="Weight" class="w-20 rounded bg-default-3 font-normal text-center text-white">
                    <input type="number" required min="1" placeholder="Reps" class="w-14 rounded bg-default-3 font-normal text-center text-white">
                    <input type="number" required min="1" placeholder="Sets" class="w-14 rounded bg-default-3 font-normal text-center text-white">
                    <button type="submit" class="rounded px-2 bg-yellow-1 shadow-inner">Save</button>
                </div>
            </form>
            <form class="flex flex-col h-fit items-center space-y-2">
                <h1 class="w-full px-2 rounded bg-yellow-2 font-semibold text-center text-lg text-black">Low Cable Cross Over</h1>
                <div class="flex w-full justify-between space-x-1">
                    <input type="number" required step="2.5" min="2.5" placeholder="Weight" class="w-20 rounded bg-default-3 font-normal text-center text-white">
                    <input type="number" required min="1" placeholder="Reps" class="w-14 rounded bg-default-3 font-normal text-center text-white">
                    <input type="number" required min="1" placeholder="Sets" class="w-14 rounded bg-default-3 font-normal text-center text-white">
                    <button type="submit" class="rounded px-2 bg-yellow-1 shadow-inner">Save</button>
                </div>
            </form>
        </div>
    </div>
    <script src="/static/js/calendar.js"></script>
{% endblock %}